# Translate author aliases to primary identity
Jorge <hello@jhonboy.com> Jhon Boy <hello@jhonboy.com>
Jorge <hello@jhonboy.com> Jhon Boy <83467501+jhonboyy@users.noreply.github.com>
cristian <cristian975112@gmail.com> cristian <cristian@home.com>
