# Translate author aliases to primary identity
Jorge <83467501+jhonboyy@users.noreply.github.com> Jorge <hello@jhonboy.com>
Jorge <83467501+jhonboyy@users.noreply.github.com> Jhon Boy <hello@jhonboy.com>
Jorge <83467501+jhonboyy@users.noreply.github.com> Jhon Boy <83467501+jhonboyy@users.noreply.github.com>
